@page "/"
@using BlazorInputFile;
@using CrudBackend;
@using CrudBackend.Database;
@using System.IO;

@inject CsvUploadService csvParser

<div class="centered">
    <div class="drag-drop-zone">
        <span>Drop meter reading CSV file here.</span>
        <InputFile OnChange=OnFileUploaded />
    </div>

    <button @onclick="OnReset" disabled="@resetDisabled">Clear Meter Readings</button>

    <div style="padding-top: 25px">
        @if (statusMessage.Length > 0) {
            <div class="alert @statusStyle" style="width: max-content">
                @statusMessage
            </div>
        }
    </div>
</div>

@code {
    const int MAX_FILE_SIZE = 10000000;
    const string CSV_EXTENSION = "csv";

    const string SUCCESS_STYLE = "alert-success";
    const string INFO_STYLE = "alert-info";
    const string ERROR_STYLE = "alert-danger";

    string statusStyle = "";
    string statusMessage = "";
    bool resetDisabled = false;

    private async Task OnFileUploaded(IFileListEntry[] uploadedFiles) {
        resetDisabled = true;

        if (uploadedFiles.Length != 1) {
            statusStyle = ERROR_STYLE;
            statusMessage = "Error: Please upload a single file.";
        }
        else {
            IFileListEntry file = uploadedFiles[0];
            string fileExtension = file.Name.Split('.').LastOrDefault();

            if (file.Size > MAX_FILE_SIZE) {
                statusStyle = ERROR_STYLE;
                statusMessage = "Error: Input file size cannot exceed 10MB.";
            }

            else if (fileExtension != CSV_EXTENSION) {
                statusStyle = ERROR_STYLE;
                statusMessage = "Error: Input must be a CSV file.";
            }

            else {
                statusStyle = INFO_STYLE;
                statusMessage = "Reading CSV file contents...";
                this.StateHasChanged();

                using (StreamReader fileStream = new StreamReader(file.Data)) {
                    CsvUploadResult result = await csvParser.UploadCsvFileAsync(fileStream);

                    if (result.RowInsertCount == 0) {
                        statusStyle = ERROR_STYLE;
                        if (result.ErrorCount == 0) {
                            statusMessage = "Error: No valid meter readings found.";
                        }
                        else {
                            statusMessage = String.Format("Error: All {0} meter readings failed to load.", result.ErrorCount);
                        }
                    }
                    else {
                        statusStyle = SUCCESS_STYLE;
                        statusMessage = String.Format("Successfully loaded {0} meter readings. Failed to load {1} meter readings.", result.RowInsertCount, result.ErrorCount);
                    }
                }
            }
        }

        resetDisabled = false;
    }

    private async Task OnReset() {
        resetDisabled = false;

        statusStyle = INFO_STYLE;
        statusMessage = "Clearing all stored meter readings...";
        this.StateHasChanged();

        var meterReadingTable = new MeterReadingDbTableInterface();
        bool deleteSuccess = await meterReadingTable.ClearTableAsync();

        if (deleteSuccess) {
            statusStyle = SUCCESS_STYLE;
            statusMessage = "All meter readings successfully deleted.";
        }
        else {
            statusStyle = ERROR_STYLE;
            statusMessage = "Error: Failed to delete all meter readings.";
        }

        resetDisabled = true;
    }

}
