@page "/"
@using BlazorInputFile;
@using CrudBackend;
@using System.IO;

@inject CsvUploadService csvParser

<div class="drag-drop-zone">
    <span>Drop meter reading CSV file here.</span>
    <InputFile OnChange=OnFileUploaded />
</div>

@statusMessage

@code {
    string statusMessage;

    private async Task OnFileUploaded(IFileListEntry[] uploadedFiles) {
        if (uploadedFiles.Length != 1) {
            statusMessage = "Please upload a single file.";
        }

        else {
            statusMessage = "Reading CSV file contents...";
            this.StateHasChanged();

            using (StreamReader file = new StreamReader(uploadedFiles[0].Data)) {
                CsvUploadResult result = await csvParser.UploadCsvFileAsync(file);

                statusMessage = String.Format("Loaded: {0}, Failed: {1}", result.RowInsertCount, result.ErrorCount);
            }
        }
    }
}
